.collection-cont{
    text-align: center;
    background-color: #cfb29b;
    margin-top: 100px;
    margin-bottom: 100px;
}
.collections{
    display: block;
    justify-content: space-between;
}
#box-img{
    width: 300px;
    height: 300px;
}
.stats img{
    width: 15px;
}
.stats{
    display: flex;
}
.stats-cont{
    display: flex;
    width: 300px;
    margin: auto;
    justify-content: space-between;
}

@media (min-width:900px) {
    .collections{
        display: flex;
        width: 95vw;
        margin: auto;
    }
}